.auth {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	&__top {
		text-align: center;
		margin-bottom: 50px;
		h2 {
			margin-bottom: 5px;
			size: 28px;
		}
		p {
			font-size: 18px;
			line-height: 21px;
			letter-spacing: 0.1px;
			opacity: 0.5;
		}
	}
	.button {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 14px;
		letter-spacing: 0.1px;
		width: 100%;
	}
	&__register-link {
		display: block;
		color: #adadad;
		font-size: 16px;
		letter-spacing: 0.1px;
		text-align: center;
	}
	&__success-block {
		text-align: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 420px;
		h2 {
			margin-top: 10px;
		}
		p {
			color: #adadad;
		}
	}
}
